In [17]:
import pandas as pd
import datetime as dt
import numpy as np
import re
import sqlalchemy as alch
from getpass import getpass
import os
import requests
from bs4 import BeautifulSoup # pip install beautifulsoup4
from nltk.sentiment.vader import SentimentIntensityAnalyzer # pip install nltk
import nltk

In [18]:
data_path = "/Users/leonplaza/Desktop/ironhack/projects/project-4/data/Airbnb_Open_Data.csv"

def read_df(data):
    df = pd.read_csv(data, encoding="utf-8", low_memory=False)
    df.drop(["country", "license", "country code", "host id", "host name",
             "availability 365"], axis=1, inplace=True)
    df.dropna(inplace=True, ignore_index=True)
    return df

df = read_df(data_path)

def columns_for_sql(df):
    column = pd.Series(df.columns).apply(lambda x: x.lower().replace(" ","_"))
    column = column.apply(lambda x: re.sub("[^A-Za-z0-9|_]","",x))
    column = list(column)
    df.columns = column
    return df

df = columns_for_sql(df)

def clean_moneysign(x):
    return x.str.strip("$").str.replace(",", "").astype(float)

df["price"] = clean_moneysign(df["price"])
df["service_fee"] = clean_moneysign(df["service_fee"])

In [19]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()
    
def pos_sentiment (x):
    
    try:
        return sia.polarity_scores(x)["pos"]
        
    except:
        return np.nan
    
def neg_sentiment (x):
    try:
        return sia.polarity_scores(x)["neg"]
        
    except:
        return np.nan
    
def neu_sentiment (x):
    try:
        return sia.polarity_scores(x)["neu"]
        
    except:
        return np.nan
    

    
df["rules_positive_score"] = df["house_rules"].apply(pos_sentiment)
df["name_positive_score"] = df["name"].apply(pos_sentiment)
df["rules_negative_score"] = df["house_rules"].apply(neg_sentiment)
df["name_negative_score"] = df["name"].apply(neg_sentiment)
df["rules_neutral_score"] = df["house_rules"].apply(neu_sentiment)
df["name_neutral_score"] = df["name"].apply(neu_sentiment)

In [20]:
df.to_csv("/Users/leonplaza/Desktop/ironhack/projects/project-4/data/airbnb11.csv")

In [21]:
df

,id,name,host_identity_verified,neighbourhood_group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room_type,...,reviews_per_month,review_rate_number,calculated_host_listings_count,house_rules,rules_positive_score,name_positive_score,rules_negative_score,name_negative_score,rules_neutral_score,name_neutral_score
0,1001254,Clean & quiet apt home by the park,unconfirmed,Brooklyn,Kensington,40.64749,-73.97237,False,strict,Private room,...,0.21,4.0,6.0,Clean up and treat the home the way you'd like...,0.342,0.310,0.095,0.000,0.563,0.690
1,1002102,Skylit Midtown Castle,verified,Manhattan,Midtown,40.75362,-73.98377,False,moderate,Entire home/apt,...,0.38,4.0,2.0,Pet friendly but please confirm with me if the...,0.240,0.000,0.000,0.000,0.760,1.000
2,1003689,Entire Apt: Spacious Studio/Loft by central park,verified,Manhattan,East Harlem,40.79851,-73.94399,False,moderate,Entire home/apt,...,0.10,3.0,1.0,"Please no smoking in the house, porch or on th...",0.140,0.000,0.067,0.000,0.793,1.000
3,1004098,Large Cozy 1 BR Apartment In Midtown East,verified,Manhattan,Murray Hill,40.74767,-73.97500,True,flexible,Entire home/apt,...,0.59,3.0,1.0,"No smoking, please, and no drugs.",0.237,0.000,0.454,0.000,0.309,1.000
4,1005202,BlissArtsSpace!,unconfirmed,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,False,moderate,Private room,...,0.40,5.0,1.0,House Guidelines for our BnB We are delighted ...,0.234,0.000,0.000,0.000,0.766,1.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40004,6088571,Adorable One-Bed in Williamsburg!,verified,Brooklyn,Williamsburg,40.71687,-73.94656,False,strict,Entire home/apt,...,1.35,2.0,1.0,• Check-in time is 2PM. Check-out time is 11am...,0.123,0.538,0.150,0.000,0.727,0.462
40005,6089124,"Loft Space for Events, Meetings & Shoots",unconfirmed,Manhattan,Flatiron District,40.74068,-73.98999,True,flexible,Entire home/apt,...,3.78,4.0,1.0,Keep the apartment clean and damage free please.,0.535,0.000,0.206,0.000,0.258,1.000
40006,6090781,Columbus Ave Apt 1 block from Park,verified,Manhattan,Upper West Side,40.77408,-73.98181,False,strict,Entire home/apt,...,0.35,5.0,1.0,#NAME?,0.000,0.000,0.000,0.367,1.000,0.633
40007,6091885,"Welcoming, Clean, Cheap on St Marks",verified,Manhattan,East Village,40.72826,-73.98422,True,strict,Private room,...,0.16,4.0,2.0,* No smoking indoors. * No pets * No loud/la...,0.152,0.583,0.101,0.000,0.747,0.417
40008,6092990,Best Location near Columbia U,unconfirmed,Manhattan,Morningside Heights,40.80460,-73.96545,True,moderate,Private room,...,0.02,2.0,2.0,House rules: Guests agree to the following ter...,0.152,0.583,0.051,0.000,0.796,0.417

In [22]:
dbName = "airbnb"
password = getpass()
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)
df.to_sql("airbnb11", if_exists="append", con=engine, index=False)

········

40009

In [24]:
# Does being a verified host affects the price and rating?

query = """
select host_identity_verified, avg(review_rate_number), avg(price), avg(service_fee)
from airbnb11
group by host_identity_verified

"""
df = pd.read_sql_query(query, engine)
df

,host_identity_verified,avg(review_rate_number),avg(price),avg(service_fee)
0,unconfirmed,3.273262,626.675954,125.336565
1,verified,3.286559,625.334472,125.067653

In [25]:
# Does cancellation policies affects the price and rating?

query = """
select cancellation_policy, avg(review_rate_number), avg(price), avg(service_fee)
from airbnb11
group by cancellation_policy

"""
df = pd.read_sql_query(query, engine)
df

  cancellation_policy  avg(review_rate_number)  avg(price)  avg(service_fee)
0              strict                 3.278082  625.226320        125.043843
1            moderate                 3.281960  625.196557        125.042684
2            flexible                 3.279665  627.603766        125.521987

In [27]:
# Does instant bookable affects the price and rating?

query = """
select *
from airbnb11


"""
df = pd.read_sql_query(query, engine)
df

,id,name,host_identity_verified,neighbourhood_group,neighbourhood,lat,long,instant_bookable,cancellation_policy,room_type,...,reviews_per_month,review_rate_number,calculated_host_listings_count,house_rules,rules_positive_score,name_positive_score,rules_negative_score,name_negative_score,rules_neutral_score,name_neutral_score
0,1001254,Clean & quiet apt home by the park,unconfirmed,Brooklyn,Kensington,40.64749,-73.97237,0,strict,Private room,...,0.21,4.0,6.0,Clean up and treat the home the way you'd like...,0.342,0.310,0.095,0.000,0.563,0.690
1,1002102,Skylit Midtown Castle,verified,Manhattan,Midtown,40.75362,-73.98377,0,moderate,Entire home/apt,...,0.38,4.0,2.0,Pet friendly but please confirm with me if the...,0.240,0.000,0.000,0.000,0.760,1.000
2,1003689,Entire Apt: Spacious Studio/Loft by central park,verified,Manhattan,East Harlem,40.79851,-73.94399,0,moderate,Entire home/apt,...,0.10,3.0,1.0,"Please no smoking in the house, porch or on th...",0.140,0.000,0.067,0.000,0.793,1.000
3,1004098,Large Cozy 1 BR Apartment In Midtown East,verified,Manhattan,Murray Hill,40.74767,-73.97500,1,flexible,Entire home/apt,...,0.59,3.0,1.0,"No smoking, please, and no drugs.",0.237,0.000,0.454,0.000,0.309,1.000
4,1005202,BlissArtsSpace!,unconfirmed,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,0,moderate,Private room,...,0.40,5.0,1.0,House Guidelines for our BnB We are delighted ...,0.234,0.000,0.000,0.000,0.766,1.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40004,6088571,Adorable One-Bed in Williamsburg!,verified,Brooklyn,Williamsburg,40.71687,-73.94656,0,strict,Entire home/apt,...,1.35,2.0,1.0,• Check-in time is 2PM. Check-out time is 11am...,0.123,0.538,0.150,0.000,0.727,0.462
40005,6089124,"Loft Space for Events, Meetings & Shoots",unconfirmed,Manhattan,Flatiron District,40.74068,-73.98999,1,flexible,Entire home/apt,...,3.78,4.0,1.0,Keep the apartment clean and damage free please.,0.535,0.000,0.206,0.000,0.258,1.000
40006,6090781,Columbus Ave Apt 1 block from Park,verified,Manhattan,Upper West Side,40.77408,-73.98181,0,strict,Entire home/apt,...,0.35,5.0,1.0,#NAME?,0.000,0.000,0.000,0.367,1.000,0.633
40007,6091885,"Welcoming, Clean, Cheap on St Marks",verified,Manhattan,East Village,40.72826,-73.98422,1,strict,Private room,...,0.16,4.0,2.0,* No smoking indoors. * No pets * No loud/la...,0.152,0.583,0.101,0.000,0.747,0.417
40008,6092990,Best Location near Columbia U,unconfirmed,Manhattan,Morningside Heights,40.80460,-73.96545,1,moderate,Private room,...,0.02,2.0,2.0,House rules: Guests agree to the following ter...,0.152,0.583,0.051,0.000,0.796,0.417

In [28]:
# Does negative sentiments in house rules affects the price and rating?

query = """
select case 
when rules_negative_score > 0.7 then "very negative"
when rules_negative_score > 0.5 then "negative"
when rules_negative_score > 0.3 then "kinda negative"
when rules_negative_score <= 0.3 then "not negative at all" end as negative_score,

avg(review_rate_number), avg(price), avg(service_fee)
from airbnb11
group by negative_score

"""
df = pd.read_sql_query(query, engine)
df

        negative_score  avg(review_rate_number)  avg(price)  avg(service_fee)
0  not negative at all                 3.225906  621.687274        124.341190
1       kinda negative                 3.229528  634.201291        126.836628
2             negative                 3.168334  628.998275        125.794757
3        very negative                 3.257329  656.143322        131.263844

In [29]:
# Does positive sentiments in house rules affects the price and rating?

query = """
select case 
when rules_positive_score > 0.7 then "very positive"
when rules_positive_score > 0.5 then "positive"
when rules_positive_score > 0.3 then "kinda positive"
when rules_positive_score <= 0.3 then "not positive at all" end as positive_score,

avg(review_rate_number), avg(price), avg(service_fee)
from airbnb11
group by positive_score

"""
df = pd.read_sql_query(query, engine)
df

        positive_score  avg(review_rate_number)  avg(price)  avg(service_fee)
0       kinda positive                 3.248822  611.056927        122.210368
1  not positive at all                 3.215932  625.243204        125.052092
2             positive                 3.311573  608.838279        121.768546
3        very positive                 3.279570  662.021505        132.424731

In [30]:
# Does negative sentiments in listing's name affects the price and rating?

query = """
select case 
when name_negative_score > 0.7 then "very negative"
when name_negative_score > 0.5 then "negative"
when name_negative_score > 0.3 then "kinda negative"
when name_negative_score <= 0.3 then "not negative at all" end as negative_score,

avg(review_rate_number), avg(price), avg(service_fee)
from airbnb11
group by negative_score

"""
df = pd.read_sql_query(query, engine)
df

        negative_score  avg(review_rate_number)  avg(price)  avg(service_fee)
0  not negative at all                 3.221353  623.153316        124.633385
1       kinda negative                 3.281915  635.859043        127.191489
2             negative                 3.437500  530.000000        106.000000
3        very negative                 4.500000  765.333333        153.166667

In [31]:
# Does positive sentiments in listing's name affects the price and rating?

query = """
select case 
when name_positive_score > 0.7 then "very positive"
when name_positive_score > 0.5 then "positive"
when name_positive_score > 0.3 then "kinda positive"
when name_positive_score <= 0.3 then "not positive at all" end as positive_score,

avg(review_rate_number), avg(price), avg(service_fee)
from airbnb11
group by positive_score

"""
df = pd.read_sql_query(query, engine)
df

        positive_score  avg(review_rate_number)  avg(price)  avg(service_fee)
0       kinda positive                 3.218207  628.418343        125.683923
1  not positive at all                 3.228777  623.062244        124.615814
2             positive                 3.185658  614.691798        122.945481
3        very positive                 3.254705  606.791719        121.358846

In [32]:
# Where are the most expensive neighborhoods private rooms

query = """
select neighbourhood, avg(price)
from airbnb
where room_type = 'Private room'
group by neighbourhood
order by avg(price) desc
limit 5

"""
df4 = pd.read_sql_query(query, engine)
df4["Ranking"] = range(1,6)
df4.set_index("Ranking")

          neighbourhood   avg(price)
Ranking
1           Little Neck  1087.500000
2             Todt Hill  1025.000000
3             Riverdale   984.000000
4         Jamaica Hills   915.000000
5        New Dorp Beach   856.714286

In [33]:
# Where are the most expensive neighborhoods flats

query = """
select neighbourhood, avg(price)
from airbnb
where room_type = 'Entire home/apt'
group by neighbourhood
order by avg(price) desc
limit 5

"""
df4 = pd.read_sql_query(query, engine)
df4["Ranking"] = range(1,6)
df4.set_index("Ranking")

                  neighbourhood   avg(price)
Ranking
1                      New Dorp  1048.000000
2        Chelsea, Staten Island  1042.000000
3                 Midland Beach   922.083333
4                   Shore Acres   868.666667
5                 Arden Heights   862.285714

In [34]:
# Where are the most expensive shared rooms

query = """
select neighbourhood, avg(price)
from airbnb
where room_type = 'Shared room'
group by neighbourhood
order by avg(price) desc
limit 5

"""
df4 = pd.read_sql_query(query, engine)
df4["Ranking"] = range(1,6)
df4.set_index("Ranking")

             neighbourhood   avg(price)
Ranking
1                Riverdale  1155.000000
2                  Gowanus  1117.333333
3            Schuylerville  1011.000000
4        Greenwich Village   979.000000
5         Theater District   955.333333

In [36]:
# Which are the most expensive neightborhood groups

query = """
select neighbourhood_group, avg(price)
from airbnb
group by neighbourhood_group



"""
df = pd.read_sql_query(query, engine)
df

  neighbourhood_group  avg(price)
0            Brooklyn  627.163826
1           Manhattan  623.124390
2             brookln  580.000000
3              Queens  630.707699
4       Staten Island  624.056287
5               Bronx  629.993077